
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places&key=@ViewBag.ApiKey'></script>
<script src="~/content/js/locationpicker.jquery.js"></script>

<div id="somecomponent" style="width: 500px; height: 400px;"></div>
<script>
    $('#somecomponent').locationpicker({
        location: {
            latitude: '@ViewBag.Lat',
            longitude: '@ViewBag.Lon'
        },
        locationName: "",
        radius: 500,
        zoom: 15,
        mapTypeId: google.maps.MapTypeId.ROADMAP,
        styles: [],
        mapOptions: {},
        scrollwheel: true,
        inputBinding: {
            latitudeInput: null,
            longitudeInput: null,
            radiusInput: null,
            locationNameInput: null
        },
        enableAutocomplete: false,
        enableAutocompleteBlur: false,
        autocompleteOptions: null,
        addressFormat: 'postal_code',
        enableReverseGeocode: true,
        draggable: true,
        onchanged: function (currentLocation, radius, isMarkerDropped) { debugger ;},
        onlocationnotfound: function (locationName) { },
        oninitialized: function (component) { },
        // must be undefined to use the default gMaps marker
        markerIcon: undefined,
        markerDraggable: true,
        markerVisible: true
    });
</script>