TourCity/TourCity.Web/packages/EntityFramework.6.0.0.deleteme
TourCity/TourCity.Web/packages/EntityFramework.6.0.0.deleteme
TourCity/TourCity.Web/packages/EntityFramework.6.0.0/tools/EntityFramework.PowerShell.Utility.dll
TourCity/TourCity.Web/TourCity.Repository/bin/Debug/TourCity.Repository.dll
TourCity/TourCity.Web/TourCity.Repository/bin/Debug/TourCity.Repository.pdb
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.csproj.FileListAbsolute.txt
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.csprojResolveAssemblyReference.cache
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.dll
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.pdb
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Repository.dll
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Repository.pdb
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Web.dll
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Web.pdb
TourCity/TourCity.Web/TourCity.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.csproj.FileListAbsolute.txt
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.csprojResolveAssemblyReference.cache
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.dll
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.pdb
TourCity/TourCity.Web/TourCity.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput_BACKUP_15384.cache
TourCity/TourCity.Web/TourCity.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput_BASE_15384.cache
TourCity/TourCity.Web/TourCity.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput_LOCAL_15384.cache
TourCity/TourCity.Web/TourCity.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput_REMOTE_15384.cache
TourCity/TourCity.Web/TourCity.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TourCity/TourCity.Web/TourCity.Repository/bin/Debug/TourCity.Repository.dll
TourCity/TourCity.Web/TourCity.Repository/bin/Debug/TourCity.Repository.pdb
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.csproj.FileListAbsolute.txt
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.csprojResolveAssemblyReference.cache
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.dll
TourCity/TourCity.Web/TourCity.Repository/obj/Debug/TourCity.Repository.pdb
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Repository.dll
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Repository.pdb
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Web.dll
TourCity/TourCity.Web/TourCity.Web/bin/TourCity.Web.pdb
TourCity/TourCity.Web/TourCity.Web/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.csproj.FileListAbsolute.txt
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.csprojResolveAssemblyReference.cache
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.dll
TourCity/TourCity.Web/TourCity.Web/obj/Debug/TourCity.Web.pdb
