<div ng-controller="main-space">
    <header class="header-main clearfix">
        <div class="left-bar">

            <div class="side-menu">
                <a href="#" class="hb-link"><i class="fa fa-bars" aria-hidden="true"></i></a>
                <div class="hb-menu">
                    <ul>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                        <li><a href="#">Sample Link</a></li>
                    </ul>
                </div>
            </div>

            <div class="logo">
                <a href="#"><strong>tour</strong>City</a>
            </div>

        </div>

        <div class="right-bar">
            <div class="ua-menu">
                <a href="#" class="ua-link"></a>
            </div>
        </div>
    </header>

    <div class="space-room">
        <div class="space clearfix">
            <div class="ls">
                <div class="badge">
                    <div class="dp">
                        <img src="~/content/images/space/restaurants/1.png" alt="" />
                    </div>
                    <h3>Barneys Burger<br /><span class="tag">(Kiosk)</span><i class="fa fa-check-circle" aria-hidden="true"></i></h3>
                    <address><i class="fa fa-map-marker" aria-hidden="true"></i> Guagua, Pampanga </address>
                </div>
                <div class="s-menu">
                    <ul>
                        <li class="active"><a href="#">Welcome</a></li>
                        <li><a href="#">Info</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="#">Map & Directions</a></li>
                        <li><a href="#">Photos</a></li>
                        <li><a href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a></li>
                    </ul>
                </div>
            </div>

            <div class="s-sections">
                <div class="section-box welcome">
                    <div class="banner-screen">
                        <div class="banner"></div>
                    </div>
                    <div class="social-bar clearfix">
                        <div class="recommend">
                            <a href="#" class="recommend-button"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Recommend</a>
                            <span class="recommend-count">1,500 recommendations</span>
                        </div>
                        <div class="social-links">
                            <ul>
                                <li class="facebook"><a href="#" title="facebook"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                                <li class="twitter"><a href="#" title="twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                                <li class="youtube"><a href="#" title="youtube"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></li>
                                <li class="instagram"><a href="#" title="instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li class="google"><a href="#" title="google+"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="welcome-room">
                        <a href="#" class="edit-link" title="edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <div class="live-content">
                            <h5>Hello! Here's a little introduction to Barneys Burger.</h5>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                            </p>
                            <p>
                                Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur!
                            </p>
                        </div>
                        <div class="edit-content">
                            <div class="ec-inner">
                                <label>Title</label>
                                <input type="text" value="Welcome Title" />
                                <label>Description</label>
                                <textarea></textarea>
                                <div class="commands">
                                    <a href="#" class="button-general button-epic">Save</a>
                                    <a href="#" class="button-general button-normal">Cancel</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/content/controller/space/welcome.js"></script>